body {
	height: 90vh;
	background-color: #f5f5f5;
}

.form-signin{
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

#inputUsername{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0; 
}

#inputPassword{
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}